<ul class="mainnav" id="mainnav">

    <li class="hide-on-phone">
        <a href='default.htm' class='nav-news js-use-pushstate'>News</a>
    </li>
    <li class="hide-on-phone">
        <a href='projects/q/default.htm' class='nav-architecture js-use-pushstate'>Explore
            Projects</a></li>
    <li class="hide-on-phone">
        <a href='products/default.htm' class='nav-products'>Product Catalog</a></li>
    <li class="hide-on-phone">
        <a href='jobs/q/default.htm' class='nav-jobs js-use-pushstate'>Jobs</a></li>
    <li class="hide-on-phone">
        <a href='../architizerawards.com/default.htm' class='nav-awards' target='_blank'>A
            <small>+</small>
            Awards</a></li>

    <li class="only-on-phone phone js-phone">
        <a><span class="glyph">m</span></a>
    </li>

    <li class='globalsearch-holder' id='globalsearch-holder'>
        <a><span class="glyph">S</span>
            <span class="hide-on-small900">&nbsp;&nbsp;Search<span class="hide-on-medium hide-on-mobile"> for architecture & products</span>&hellip;</span></a>

        <div class="globalsearch-input">
            <span class="search header glyph">S</span>

            <form>
                <div class='larch-input larch not-hide-on-phone' data-name='globalsearch' data-validation='' data-id_name='' data-text_name='' data-extensions='larch/Autocomplete={"src":"/search/autocomplete/", "data": {"field": ""  } }'>
                    <div class='control nopadding'>
                        <div class='blank-ui pl1'>
                            <span class='placeholder nopadding'>Search <span class='hide-on-phone'>for architecture & products</span> &hellip;</span>
                        </div>
                        <input type='text'/>
        <span class='tooltip righthand '>
            <span class='default-tip '></span>
            <span class='errors'></span>
        </span>
                    </div>
                    <div class='menu'></div>
                </div>
            </form>
            <span class="close header glyph">r</span>
        </div>
    </li>

</ul>
