<div class="slidenav js-slidenav" style="width: 200px;">
    <ul class="mainnav">
        <li><a class="slidenav-news js-use-pushstate" href="/">News</a></li>
        <li>
            <a class="slidenav-architecture js-use-pushstate" href="/projects/q/">Explore
                Projects</a></li>
        <li><a class="slidenav-products" href="/products/">Product Catalog</a></li>
        <li><a class="slidenav-jobs bottomborder js-use-pushstate" href="/jobs/q/">Jobs</a></li>
        <li>
            <a target="_blank" class="slidenav-awards bottomborder"
               href="http://architizerawards.com">A<small>+</small>Awards</a></li>
        <li><a class="register js-use-pushstate" href="/register/">Join Now</a></li>
        <li><a class="login js-use-pushstate" href="/login/">Sign in</a></li>

    </ul>
</div>