<!DOCTYPE html>
<html>
<head>
  <title>Receta</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>

<body>

<div ng-app="receta">
  <header-section ng-controller="HeaderController"></header-section>
  <!--<slide-side-section ng-controller="SlideSideController"></slide-side-section>-->

  <%= yield %>
</div>

</body>
</html>
